/* Enter Custom CSS Below Here */

.light-wrapper .container-inner {
	padding-top:0;
	width:100%;
	max-width:100%;
	height:100vh;
}

.hero {
	width:100%;
	max-width:100%;
	padding-bottom:8%;
}

.post-content {
	margin-left:10%;
	margin-right:10%;
}

body > div.body-wrapper > div.light-wrapper > div {
	width:100%;
	padding-top:0;
	padding-bottom:20px;
}

.iframe-container {
	max-width:100%;
}

.iframe {
	max-width:100%;
	margin:0 auto !important;
}

iframe {
	margin:0 auto;
}

.row {
	margin-left:50px;
	margin-right:50px;
}

.huge_it_slideshow_dots_thumbnails_3 {
	display:none;
}

.wp-caption.aligncenter {display: block; margin-left: auto; margin-right: auto}
.wp-caption.alignright {float:right; margin:0 0 1em 1em}
.wp-caption.alignleft {float:left; margin:0 1em 1em 0}

.footer {
	left:0px;
	bottom:0px;
	width:100%;
}


aside.col-sm-4.sidebar.lp30 {
    padding-right:30px;
    max-width:350px;
    margin-top:7%;
}

.ai1ec-agenda-widget-view .ai1ec-month {
    background:#6EC536;
}

.ai1ec-agenda-widget-view .ai1ec-event > a {
    color: #6EC536;
}

.ai1ec-agenda-widget-view .ai1ec-event > a:hover {
    color: #6EC536;
}

.ai1ec-calendar-toolbar {
    display:none;
}

.ai1ec-clearfix {
    margin-top:45px;
}

.ai1ec-agenda-widget-view .ai1ec-month, .ai1ec-agenda-view .ai1ec-month {
    background:#6EC536;
}

.ai1ec-agenda-view .ai1ec-event .ai1ec-event-title {
    color: #6EC536;
}

.ai1ec-agenda-view .ai1ec-event:hover .ai1ec-event-title {
    color: black;
}

.ai1ec-subscribe-container {
    display:none;
}

.parallax-header {
	vertical-align: top;
	color:white;
	font-size:80px;
	font-family:helvetica, arial;
	padding:0% !important;
	width:100% !important;
	max-width:100% !important;
	font-weight:bold;
}

#parallax_1433_content > table > tbody > tr > td > div {
	margin-top:25%;
}

.entry-title {
	display:none;
}

h1 {
	margin-top:8%;
}

#aq-block-1449-1 {
	width:100%;
}

.thin {
	width:100%;
}

body > div.body-wrapper > div.light-wrapper > div {
    min-height:85vh;
}

body > div.body-wrapper > div.light-wrapper > div > div > div > div > div {
    margin-bottom:40px;
}

body > div.body-wrapper > div.light-wrapper > div > div > div > div > p:nth-child(14) > img {
    display:inline;
}

body > div.body-wrapper > div.light-wrapper > div > div > div > div > p:nth-child(14) > a:nth-child(2) > img {
    display:inline;
}

body > div.body-wrapper > div.light-wrapper > div > div > div > div > p:nth-child(14) > a:nth-child(3) > img {
    display:inline;
}

body > div.body-wrapper > div.light-wrapper > div > div > p:nth-child(6) > img.alignnone.wp-image-1569 {
    display:inline;
}

body > div.body-wrapper > div.light-wrapper > div > div > p:nth-child(6) > img.alignnone.wp-image-1570 {
    display:inline;
}

.parallax-header {
display:none;
}





@media screen and (max-width: 400px) {
    .iframe {
		height: 130px;
    }
    #input_1_2 {
    	width:100%;
    }
    #input_1_3 {
    	width:100%;
    }
    .iframe-gmap {
    	width:100%;
    }
    .parallax-header {
    	width:100%;
    	max-width:100%;
    	font-size:3.8em;
    	line-height:70px;
    	font-weight:bold;
    }
    #parallax_1433 {
    	height:400px !important;
    }
}


@media screen and (max-width: 794px) {
    .iframe {
		height: 130px;
    }
    #input_1_2 {
    	width:100%;
    }
    #input_1_3 {
    	width:100%;
    }
    .iframe-gmap {
    	width:100%;
    }
    .parallax-header {
    	width:100%;
    	max-width:100%;
    	font-size:3.8em;
    	line-height:70px;
    	font-weight:bold;
    }
    #parallax_1433 {
    	height:400px !important;
    }
    #input_3_1_6_container {
        display:none;
    }
    #input_3_1_3_container {
        width:100%;
    }
    #input_3_2 {
        width:100%;
    }
    #input_3_3 {
        width:100%;
    }
    #input_4_1_6_container {
        display:none;
    }
    #input_4_1_3_container {
        width:100%;
    }
    #input_4_2 {
        width:100%;
    }
    #input_4_3 {
        width:100%;
    }

}